# Hidden files (for autocomplion)
.*

# Objects
*.o

# All kinds of analyzers files
*.gcda
perf.data*

# These files are generated
Makefile
feature.h
*-protocol.[ch]

# Binaries (with default names)
nsst
nsstc
